<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title>P1 vs CPU</title>

</head>
<body>

    <section>

        <form name="form" action="" method="GET">

            <h3>P1 vs CPU(P2)</h3>
            <label for="inP1">Rock Paper Scissors </label>
            <input type="text" name="inP1" id="inP1">
            <input onclick="printGameP1vsCPU(this.form)" type="button" value="Enviar :3">
            
        </form>

        <div id="pruebaP1vsCPU">

        </div>
    </section>
    
    <script src="../assets/scrirpts.js"></script>

</body>
</html>